@mixin mediaQueryAllMobile {
  @media screen and (max-width: 1024px) and (orientation: portrait) {
    @content;
  }
}

@mixin mediaQueryPhonesAndSmallTabletsOnly {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin mediaQueryBigTabletsOnly {
  @media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    @content;
  }
}

@mixin desktopOnly {
  @media screen and (min-width: 1024px) and (orientation: landscape) {
    @content;
  }
}

@mixin smalldesktopOnly {
  @media screen and (min-width: 1024px) and (max-width: 1439px) and (orientation: landscape) {
    @content;
  }
}

@mixin font($font-pt) {
  @if $font-pt == 96 {
    font-size: var(--font-size-96pt);
    line-height: 1em;
  }  @else if $font-pt == 48 {
    font-size:var(--font-size-48pt);
    line-height: 1.2em;
  }  @else if $font-pt == 30 {
    font-size: var(--font-size-30pt);
    line-height: 1.5em;
  }  @else if $font-pt == 24 {
    font-size: var(--font-size-24pt);
    line-height: 1.5em;
  }  @else if $font-pt == 18 {
    font-size: var(--font-size-18pt);
    line-height: 1.5em;
  }  @else if $font-pt == 16 {
    font-size: var(--font-size-16pt);
    line-height: 1.5em;
  }  @else if $font-pt == 12 {
    font-size: var(--font-size-12pt);
    line-height: 1.5em;
  }
}
