@use "../base/media-queries" as *;

:root {
  --font-size-96pt: 4rem;
  --font-size-48pt: 3rem;
  --font-size-30pt: 2rem;
  --font-size-24pt: 1rem;
  --font-size-18pt: 0.9rem;
  --font-size-16pt: 0.67rem;
  --font-size-12pt: max(14px, 0.5rem);

  --menu-width: 25px;
  --menu-height: 1px;

  --padding-piccolo: 2.7vw;
  --padding-grande: 10.5vw;

  --grigio-chiaro: #f4f4f4;
  --grigio: #f0f0f0;
  --rosso: #ff5858;
  --giallo: #fff736;

  --column-gap: 3vw;

  --easing: cubic-bezier(0, 0, 0.22, 1);
}

// mediaQueryAllMobile

@include mediaQueryAllMobile {
  :root {
    --font-size-30pt: max(14px, 1.87rem);
    --line-height-36pt: max(18px, 2.6rem);
    --font-size-28pt: max(14px, 1.5rem);
    --line-height-36pt: max(18px, 1.8rem);
    --font-size-25pt: max(14px, 1.4rem);
    --line-height-36pt: max(18px, 1.6rem);

    --padding-piccolo: 8vw;
    --padding-grande: 8vw;
  }
}

// mediaQueryPhonesAndSmallTabletsOnly

@include mediaQueryPhonesAndSmallTabletsOnly {
  :root {
    --menu-width: 40px;
    --menu-height: 3px;
  }
}

// mediaQueryBigTabletsOnly

@include mediaQueryBigTabletsOnly {
}
