.cc {
  border: 2px solid black;
  padding: 1vw;
}
.acf-field-message {
  background-color: #1e1e1e;
  padding: 16px 20px 8px 20px !important;
}
.acf-field-message .acf-label {
  margin-bottom: 0;
}
.acf-field-message {
  font-size: 16px;
  color: white;
}
