@use '../base/mixins' as *;

.fade-in {
	opacity: 0;
}
.fade-in-up {
  opacity: 0;
  transform: translateY(8rem);
}
.fade-in-left {
	opacity: 0;
	transform: translateX(-7rem);
}
.fade-in-right {
	opacity: 0;
	transform: translateX(7rem);
}


  